<div class="container">
    <div class="content">
      <h1>Sobre mi</h1>
      <p>Mi nombre es <b>Pau Calafat</b> , un joven valenciano de 26 años recién iniciado en el mundo de la programación.</p>
      <p>Mi alta afición por la informática desde pequeño me llevó a inclinarme por esta rama y sabía que no me iba a equivocar!</p>
      <p>En mi día a día intento empaparme de conocimientos nuevos y seguir aprendiendo sobre nuevas herramientas y lenguajes.</p>
      <p>Actualmente tengo experiencia con:</p>
      <ul class="no-bullets">
        <li><b>Angular</b> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
          </div>
        </li>
        <li><b>Laravel</b> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
          </div>
        </li>
        <li><b>Java</b> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div>
          </div>
        </li>
        <li><b>Docker</b> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
          </div>
        </li>
        <li><b>AWS</b> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
          </div>
        </li>
        <li><b>Flask</b> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
          </div>
        </li>
        <li><b>AWS</b> 
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  