<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm text-center">
        <img src="assets/images/terretafest_logo.png" class="card-img-top" alt="Local Image">
        <div class="card-body">
          <h5 class="card-title">Terretafest</h5>
          <p class="card-text">Desarrollo de la página web para terretafest.</p>
          <a href="https://terretafest.xyz" class="btn btn-primary stretched-link">Acceder al sitio</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm text-center">
        <img src="assets/images/terretafest_logo.png" class="card-img-top" alt="Local Image">
        <div class="card-body">
          <h5 class="card-title">Terretafest</h5>
          <p class="card-text">Desarrollo de la página web para terretafest.</p>
          <a href="https://terretafest.xyz" class="btn btn-primary stretched-link">Acceder al sitio</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm text-center">
        <img src="assets/images/terretafest_logo.png" class="card-img-top" alt="Local Image">
        <div class="card-body">
          <h5 class="card-title">Terretafest</h5>
          <p class="card-text">Desarrollo de la página web para terretafest.</p>
          <a href="https://terretafest.xyz" class="btn btn-primary stretched-link">Acceder al sitio</a>
        </div>
      </div>
    </div>
    <!-- Aquí puedes añadir más tarjetas según tus proyectos -->
  </div>
</div>
